# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# Dependências
**/node_modules/

# Build do Next.js
/dundermifflin/.next/
/dundermifflin/out/

# Arquivos de ambiente
*.env
*.env.local
*.env.production

# Logs
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db