.ca {
    width: 300px;
    overflow: hidden;
}

.ca-ID {
    color: #fff;
    font-weight: 700;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.ca-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ca-nome {
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ca-cat {
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ca-botoes button{
    width: 7rem;
}

.ca-titulo {
    font-weight: 600;
}