:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #F5F5F5 !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 0 !important;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    /* all: unset; */
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

header, footer {
    display: block;
}


.titulo {
    font-family: impact;
    text-transform: uppercase;
}

.pretoDM{
    color: #212529;
}


.btn-1 {
    background-color: rgb(33, 37, 41) !important;
    color: white !important;
}
.btn-1:hover {
    background-color: rgb(33, 37, 41, 0.7) !important;
    color: white !important;
}

.btn-2 {
    background-color: white !important;
    color: #212529 !important;
    border: 1px solid #212529 !important;
}
.btn-2:hover {
    background-color: rgb(33, 37, 41, 0.3) !important;
}

.btn-3 {
    background-color: #212529 !important;
    color: white !important;
}
.btn-3:hover {
    background-color: red !important;
}

.bordaCompleta {
    border: 1px solid;
}

.bordaCinza {
    border-color: #2125293d !important;
}

.bordaPreta {
    border-color: #212529 !important;
}

.fundoBranco {
    background-color: #fff !important;
    color: black !important;
}

.fundoCinza {
    background-color: #2125293d !important;
}

.fundoPreto {
    background-color: #212529 !important;
    color: #fff !important;
}

.container-form {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
}

.container-form .form-floating {
    margin: 0 0.75rem;
}


.redesSociais a {
    color: rgb(33, 37, 41);
}

.redesSociais a:hover {
    color: rgb(33, 37, 41, 0.75)

}


.redesSociais .bi {
    transition: transform 0.3s ease;
}

.redesSociais .bi:hover {
    transform: scale(1.3);
}

.empresas-clientes {
    width: 10rem;
    height: 10rem !important;
    background-color: white;
}

.img-completa {
    width: 100%;
    height: 100%;
    object-fit: contain;
}



.info-linha {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dee2e6;
    padding: 0.5rem 0;
    /* line-break: anywhere; */
    padding: 0.5rem;
}

.info-linha strong {
    color: #343a40;
    font-weight: 600;
    min-width: 120px;
}
