:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #F5F5F5 !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    /* all: unset; */
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

header, footer {
    display: block;
}


.titulo {
    font-family: impact;
    text-transform: uppercase;
}


.btn-1 {
    background-color: rgb(33, 37, 41) !important;
    color: white !important;
}
.btn-1:hover {
    background-color: rgb(33, 37, 41, 0.7) !important;
    color: white !important;
}

.btn-2 {
    background-color: transparent !important;
    color: #212529 !important;
    border: 1px solid #212529 !important;
}
.btn-2:hover {
    background-color: rgb(33, 37, 41, 0.3) !important;
}

.bordaCinza {
    border-color: #2125293d !important;
}

.bordaPreta {
    border-color: #212529 !important;
}

.fundoBranco {
    background-color: #fff;
}

.fundoCinza {
    background-color: #2125290d;
}

.fundoPreto {
    background-color: #212529 !important;
    color: #fff !important;
}

.container-form {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
}

.container-form .form-floating {
    margin: 0 0.75rem;
}