header, footer {
    display: none;
}

.corpo {
    background-color: #212529;
    min-height: 100vh;
}

.corpo > div {
    width: 50%;
    min-width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_branca {
    background-color: #F5F5F5;
}





.legenda {
    margin-top: 0.25rem;
    font-size: small;
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.25rem;
}


.form-signin {
    min-width: 300px;
}

.form-floating>.form-control, .form-floating>.form-control-plaintext {
    padding: 1rem .75rem;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}