.adicionarImagem {
    background-color: #fff;
    border: 1px solid #2125293d;
    border-radius: 0.375rem;
    padding: 0;
    overflow: hidden;
}

.container-imagens {
    display: flex;
    flex-wrap: wrap;
}

.botaoAdicionar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #2125293d !important;
    border-radius: 0;
    font-weight: 700;
}

.botaoAdicionar:hover {
    background-color: #2125293d;
}