footer {
    color: #212529;
}

a {
    color: rgb(33, 37, 41);
}

a:hover {
    color: rgb(33, 37, 41, 0.75)
}


.div_logo {
    position: 'relative'; 
    width: '100%';
    height: '100%';
}

li .nav-link:hover {
    text-decoration: underline !important;
}